@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");



.banner-rectangle {
  align-items: center;
  justify-content: center;
  width: max-width;
  height: 282px;
  margin-left: 80px;
  margin-right: 80px;
}
.banner {
  margin-top: 39px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  flex-direction: row;
  color: white;
  background: linear-gradient(90deg, #a88b7e, #d3ae8e, #aeab82);
  padding: 25px 0 40px 50px;
  overflow: visible;
}
.banner-text {
  flex: 1;
}
.banner-text h1 {
  width: 395px;
  color: #fff;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 45px */
  text-transform: uppercase;
}
.banner-text h3 {
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 24px */
}
.banner-text p {
  width: 515px;
  color: #fff;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.banner-image img {
  position: absolute;
  max-width: 684px;
  height: 391px;
  top: 97px;
  right: 87px;
}
.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}